<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>
    </title>
</head>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<body>
<div class="container" style="padding-top: 10px;">
    <div class="row">
        <div class="col-12">
            <button onclick="logout()" type="button" class="btn btn-primary float-right">logout</button>
        </div>
    </div>
    <h3 class="text-center">Task List</h3> <br>
    <div class="row">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
  {% csrf_token %}
   {% for task in tasks  %}
      <tr>
          <th scope="row">{{ task.id }}</th>
          <td>{{task.title }}</td>
          <td>{{ task.description }}</td>
          <td>
              <select class="custom-select" id="status_select{{task.id}}" name={{ task.id }}>
                  {% if task.status == "TODO" %}
                      <option value="TODO" selected>
                          TODO
                      </option>
                  {% else %}
                      <option value="TODO">
                        TODO
                      </option>
                  {% endif %}
                  {% if task.status == "INPROGRESS" %}
                      <option value="INPROGRESS" selected>
                          INPROGRESS
                      </option>
                  {% else %}
                      <option value="INPROGRESS">
                        INPROGRESS
                      </option>
                  {% endif %}
                  {% if task.status == "COMPLETED" %}
                      <option value="COMPLETED" selected>
                          COMPLETED
                      </option>
                  {% else %}
                      <option value="COMPLETED">
                        COMPLETED
                      </option>
                  {% endif %}
              %}
              </select>
          </td>
      </tr>
   {% endfor %}
  </tbody>
</table>
    </div>
</div>

<script>
    function logout(){
        window.location.href = "/logout/"
    }
    var temp = {{ task_list | safe }}
    for(let task of temp){
        let id = "#status_select"+task.id
        $(id).change(function (e){
           let status = $(id).find(":selected").val()
           let task_id = id.replace('#status_select','');
           const payload = {
               status,
               id: task_id
           }
            const options = {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                },
                body: JSON.stringify(payload)
            };
            fetch('/tasks/updateStatus/', options)
            .then(data => {
             console.log(data);
            })
        })
    }

</script>
</body>
</html>